@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.sidebar {
    position: fixed;
    height: 100%;
    width: 260px;
    background: #11101d;
    padding: 15px;
    z-index: 99;
}

.logo {
    font-size: 25px;
    padding: 0 15px;
}

.sidebar a {
    color: #fff;
    text-decoration: none;
}

.menu-content {
    position: relative;
    height: 100%;
    width: 100%;
    margin-top: 40px;
    overflow-y: scroll;
}

.menu-content::-webkit-scrollbar {
    display: none;
}

.menu-items {
    height: 100%;
    width: 100%;
    list-style: none;
    transition: all 0.4s ease;
}

.submenu-active .menu-items {
    transform: translateX(-56%);
}

.menu-title {
    color: #fff;
    font-size: 14px;
    padding: 15px 20px;
}

.item a,
.submenu-item {
    padding: 16px;
    display: inline-block;
    width: 100%;
    border-radius: 12px;
}

.item i {
    font-size: 12px;
}

.item a:hover,
.submenu-item:hover,
.submenu .menu-title:hover {
    background: rgba(255, 255, 255, 0.1);
}

.submenu-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    cursor: pointer;
}

.submenu {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: calc(-100% - 26px);
    height: calc(100% + 100vh);
    background: #11101d;
    display: none;
}

.show-submenu~.submenu {
    display: block;
}

.submenu .menu-title {
    border-radius: 12px;
    cursor: pointer;
}

.submenu .menu-title i {
    margin-right: 10px;
}

.navbar,
.main {
    left: 260px;
    width: calc(100% - 120px);
    transition: all 0.5s ease;
    z-index: 1000;

}

.sidebar.close~.navbar,
.sidebar.close~.main {
    left: 0;
    width: 100%;
}

.navbar {
    position: fixed;
    color: #fff;
    padding: 15px 25px;
    font-size: 25px;
    background: #242330;
    cursor: pointer;
    height: 100px;
}

.navbar #sidebar-close {
    cursor: pointer;
}

.main {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    z-index: 100;
    background: #373838;
}

.main h1 {
    color: #11101d;
    font-size: 40px;
    text-align: center;
}

.PifonLogo {
    width: 100px;
    height: 100px;
}

.searchbar {
    width: 500px;
    height: 50px;
    text-align: center;
    border-radius: 50px;
    position: relative;
    left: 500px;
    bottom: 30px;
    background-color: #45444f;
    border-color: none;
}

.searchbar a {
    color: var(--other-color);
    font-size: var(--p-font);
    font-weight: 500;
    margin: 50 30px;
    transition: a .55s ease;

}

.searchbar a:hover {
    color: var(--main-color);

}

.searchButton {
    position: relative;
    height: 50px;
    width: 50px;
    left: 10px;
    position: center;
    bottom: 22px;
    cursor: default;
}


.slider {
    opacity: 0;
    position: absolute;
    width: 25%;
    border-radius: 10px;

}

#prev-button {
    position: relative;
    width: 30px;
    height: 30px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    right: 580px;
    top: 114px;
}

#next-button {
    position: relative;
    width: 30px;
    height: 30px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    left: 580px;
}

#prev-button img,
#next-button img {
    width: 300%;
    height: 500%;
}

#prev-button {
    transform: rotate(180deg);
}

.container-slider {
    display: flex;
    width: 100%;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    gap: 1rem;

}

.container-images {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
}